.commits{
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    .ant-card-body{
        padding-top:15px;
    }
  
    .time-line-title {
        font-size: 16px;
        color: #393c40;
        small {
            color: gray;
        }
    }
    .list-item-date {
        font-size: 14px;
        color: #393c40;
        font-style: italic;
        small {
            margin-left: 5px;
            color: gray;
        }    
    }
    .list-item-title {
        font-size: 17px;
        font-weight: bold;
        color: #393c40;

    }

    .commits-undo-icon{
        font-size: 18px;
    }
}
