

body{
    font-family: 'Muli', sans-serif;
    
}
.ace_editor, .ace_editor div{
    font-family:monospace !important
}
.ant-page-header{
    background: none !important ;
}

.global-flex-vertical-center {
    display: flex;
    align-items: center;
}
.global-flex-vertical-horizontal-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.global-flex-horizontal-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.global-flex-horizontal-first{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.global-flex-horizontal-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body{
    background-color: #fafafa !important;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: white;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #40a9ff;
        outline: 1px solid slategrey;
        border-radius: 50px 50px;
    }
}

.ant-drawer-wrapper-body{
    overflow-x:hidden !important;
    overflow-y: auto !important;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: white;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #40a9ff;
        outline: 1px solid slategrey;
        border-radius: 50px 50px;
    }
}

.ant-drawer-body{
    overflow-x:hidden !important;
    overflow-y: auto !important;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: white;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #40a9ff;
        outline: 1px solid slategrey;
        border-radius: 50px 50px;
    }
}

.global-clean-button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    }

    .global-loading-spinner{
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }