  .add-work-item {
      margin-top: 16px;
      padding: 15px;
      border: solid 1px #ebebeb;
      position: relative;
      background-color: #fff;

      &.task {
          border-left: 3px solid #ffcb09;
      }

      &.bug {
          border-left: 3px solid red;
      }

      .input-name {
          width: 98%;
          margin-bottom: 10px;
      }

      .ant-switch {
          background-color: red;
      }

      .ant-switch-checked {
          background-color: #ffcb09;
      }

      .ant-btn {
          padding: 0px 3px;
          font-size: 13px;
      }
  }